{:deps
 {nbb.build/nbb.build
  {:git/url "https://github.com/logseq/nbb"
   :git/sha "83ffbbecb2a76e64baa673fc2f28cfa9b4ce294d"
   :deps/root "build"}
  #_{:local/root "../nbb/build"}
  nbb/nbb
  {:git/url "https://github.com/logseq/nbb"
   :git/sha "83ffbbecb2a76e64baa673fc2f28cfa9b4ce294d"}
  #_{:local/root "../nbb"}
  datascript/deps {:local/root "features/datascript"}
  datascript-transit/deps {:local/root "features/datascript-transit"}
  linked/deps {:local/root "features/linked"}
  cljs-time/deps {:local/root "features/cljs-time"}}
 :tasks
 {:requires ([babashka.fs :as fs]
             [nbb.build :as build])

  clean (fs/delete-tree "lib")

  release {:depends [clean]
           :doc "Compiles release build."
           :task (build/release *command-line-args*)}}}
