{:deps
 {logseq/graph-parser
   #_{:git/url "https://github.com/logseq/logseq"
    :git/sha "d7c26b79764db61dfca2345dc69011b4241b1559"
    :deps/root "deps/graph-parser"}
   {:local/root "../../../logseq/deps/graph-parser"}}}
