{:deps
 {logseq/graph-parser
  {:git/url "https://github.com/logseq/logseq"
     :git/sha "23e46588b35d85461e93ac470fbb87f16818d45a"
     :deps/root "deps/graph-parser"}
   #_{:local/root "../../../logseq/deps/graph-parser"}}}
