{:deps
 {logseq/graph-parser
  {:git/url "https://github.com/logseq/logseq"
   :git/sha "7bb5fef8cc0519abcd60afd6f0096befc78b1da6"
   :deps/root "deps/graph-parser"}
   #_{:local/root "../../../logseq/deps/graph-parser"}}}
