{:deps
 {logseq/graph-parser
  {:git/url "https://github.com/logseq/logseq"
   :git/sha "7bb5fef8cc0519abcd60afd6f0096befc78b1da6"
   :deps/root "deps/graph-parser"}
  #_{:local/root "../../logseq/deps/graph-parser"}

  logseq/bb-tasks
  #_{:local/root "../../bb-tasks"}
  {:git/url "https://github.com/logseq/bb-tasks"
   :git/sha "4295d5df0458cc06a09c5d506510ee49b785407d"}

  org.babashka/cli {:mvn/version "0.5.40"}}}
