{:deps
 {logseq/graph-parser
  {:git/url "https://github.com/logseq/logseq"
   :git/sha "65640ed8857199d89268295863cd556f5d90ea0b"
   :deps/root "deps/graph-parser"}
  #_{:local/root "../../logseq/deps/graph-parser"}

  logseq/bb-tasks
  #_{:local/root "../../bb-tasks"}
  {:git/url "https://github.com/logseq/bb-tasks"
   :git/sha "4295d5df0458cc06a09c5d506510ee49b785407d"}

  org.babashka/cli {:mvn/version "0.5.40"}}}
