{:deps
 {logseq/db
  {:git/url "https://github.com/logseq/logseq"
   :git/sha "65640ed8857199d89268295863cd556f5d90ea0b"
   :deps/root "deps/db"}
  #_{:local/root "../logseq/deps/db"}
  metosin/malli {:mvn/version "0.17.0"}}}
